body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.floor {
    width: 80%;
    margin: 0 auto;
}

.nav-list {

}
.nav-item {
    text-decoration: none;
    padding: 3px 5px;
    border: 1px solid gray;
}